<html>
<head>
{% load static %}

<META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<TITLE>拓普康街景</TITLE>
<LINK rel="stylesheet" href="{% get_static_prefix %}css/app.css" type="text/css" />
<link href="{% get_static_prefix %}libs/leaflet.css" type="text/css" rel="stylesheet">
<link href="{% get_static_prefix %}libs/ex.css" type="text/css" rel="stylesheet">
<!--[if lte IE 11]><link rel="stylesheet" href="{% get_static_prefix %}libs/leaflet2.css" /><![endif]-->
<script type="text/javascript" src="{% get_static_prefix %}libs/leaflet.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}libs/toggleControl.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/j_divControl.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/j_src.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/j_smallView.js"></script>

</HEAD>
<BODY onload="j_resize();j_init();">
<!--头部_start-->
<DIV id="mainTop" class="head">

	<DIV class="logo"></DIV>
</DIV>
<!--头部_end-->

<!--left_start-->
<Div id="left" class="left" style="display:none;">
    <DIV id="mainDivTitle" class="title">
        城市定位
    </DIV>

	<!--城市定位面板-->
	<DIV id="demoCities" class="contentDiv" style="display:solid;background:#3CA5D4;bottom:0px;">
        <DIV class="citydemo" id="beijingDiv" onmouseover="this.className='citydemo2'" onmouseout="this.className='citydemo'" onclick="showDemoCity('beijing')">
            <DIV class=tt>
                <label class="lbcls">SIGM集团园区</label>
                <SPAN class=more>
                    <A href="javascript:void(0)">点击查看&gt;&gt;</A>
                </SPAN>
            </DIV>
            <TABLE border=0 cellSpacing=0 cellPadding=0 width="90%">
                <TBODY>
                    <TR>
                        <TD vAlign=top><IMG src="{% get_static_prefix %}images/niaocao.jpg" width="50px" height="45px"></TD>
                        <TD>荣华南路，荣昌东街</TD>
                    </TR>
                </TBODY>
            </TABLE>
        </DIV>
        <DIV class="citydemo" id="taianDiv" onmouseover="this.className='citydemo2'" onmouseout="this.className='citydemo'" onclick="showDemoCity('taian')">
            <DIV class=tt>
                <Label class="lbcls">南昌市</Label>
                <SPAN class=more>
                    <A href="javascript:void(0)">点击查看&gt;&gt;</A>
                </SPAN>
            </DIV>
            <TABLE border=0 cellSpacing=0 cellPadding=0 width="90%">
                <TBODY>
                    <TR>
                        <TD vAlign=top><IMG src="{% get_static_prefix %}images/taian.jpg" width="50px" height="45px"></TD>
                        <TD>孔目湖大街，英雄大桥</TD>
                    </TR>
                </TBODY>
            </TABLE>
        </DIV>
    </DIV>


</Div>
<!--left_end-->

<!--中间部分_start-->
<DIV id="hideResult" class="hideResult" onclick="j_ChangeContentSize();" style="display:none;"></DIV>
<!--中间部分_end-->

<!--地图窗口_start-->
<DIV id="contentPanel" class="contentPanel2" style="left:2px;">
    <DIV id="Toolbar" class="toolbar">
		<div style="position:absolute; left:10px;">
			<input type=button class="btn" value="矢 量" onclick="j_changeLayers2('vec');" />
			<input type=button class="btn" value="影 像" onclick="j_changeLayers2('img');" />
			<!--<input type=button class="btn" value="地 形" onclick="j_changeLayers2('ter');" />-->
			<input type=button class="btn" value="街 景" onclick="j_ChangeSV();" />
		</div>
		<!--<div style="position:absolute; right:30px;">
		</div>-->
	</DIV>
    <DIV id="viewport" class="viewport"></DIV>
    <DIV id="controlicons" class="controlicons">
		<div id="controliconquit" class="controliconquit" title="返回室外" onclick="j_tog.unsetRoomPano();"  style="display:none;"></div>
		<div id="controliconquit2d" class="controliconquit2d" title="退出街景" onclick="j_ChangeSV();"  style="display:none;"></div>
		<div id="controliconfs" class="controliconfs2" title="全屏" onclick="j_setFullScreen();"></div>
	</DIV>

	 	<!--<object type="application/x-shockwave-flash"  width="100%" height="100%" id="viewportstreetview" style="visibility: visible; width: 1136px; height: 198px;display:none;z-index:0;">
			<param name="menu" value="false">
			<param name="quality" value="high">
			<param name="movie" value="xpano.swf" />
			<param name="allowScriptAccess" value="always" />
			<param name="allowfullscreen" value="true">
			<param name="flashvars" value="xml=init.xml">
			<param name="wmode" value="transparent">
			<embed src="xpano.swf" quality="high" bgcolor="#869ca7"
						  width="100%" height="100%" name="viewportstreetview" align="middle"
						 play="true" loop="false" quality="high" allowScriptAccess="always"
						 type="application/x-shockwave-flash">
			</embed>
		</object>-->

	{% load panorama_tags %}






	{% panorama_object "viewportstreetview" "100%" "100%" %}
	<DIV id="smallContentPanel" class="smallContentPanel" style="display:none;">
		<DIV id="smallviewport" class="smallviewport">

		</DIV>
		<DIV id="smallToggleDiv" class="smallToggleDiv">
			<DIV id="dragDiv" class="dragDiv"></DIV>
			<DIV id="anchorDiv" class="anchorDiv" style="display:none;"></DIV>
		</DIV>
	</DIV>

	<div id="j_poidiv" class="fold-panel-container" style="left: 10px; top: 49px; height: 86px; width: 300px;display:none;">
		<img src="{% get_static_prefix %}libs/images/popup-close.png" style="position:absolute;right:5px;top:5px;cursor:pointer;z-index:9999;" onclick="j_hidePoiInfo();"/>
		<div role="contentContainer" class="fold-panel-content" style="position: absolute; padding: 6px 0px; height: auto; top: 0px;">
			<div style="position: relative; z-index: 2;"></div>
			<div class="content-wapper" style="height: auto;">
				<div class="pano_popup">
					<div class="pano_poi_header clearfix">
						<a href="javascript:void(0);" class="title" id="poi_title">         SCMA园区            </a>
						<a href="http://www.topconchina.com/" class="detail_link gray" target="_blank" data-action="detail">详情&gt;&gt;</a>
					</div>
					<div class="content_line"></div>
					<div class="pano_poi_content">
							<span class="pano_poi_icon pano_poi_icon_phone"></span>
							<span class="type_name">电话：</span>
							<span id="poi_telInfo" class="type_cont">(010)67892799</span>

					</div>
				</div>
			</div>
			<div class="fold-panel-bg" style="background-color: rgba(0, 0, 0, 0.8); height: 0px; width: 300px; left: 0px;"></div>
		</div>
	</div>
</div>
<!--地图窗口_end-->


<!--bottom_end-->
</BODY>
</HTML>
